@import "tailwindcss";

@theme {
    /*Color Primario*/
    --color-primary: #ffef15;
    --color-primary-hover: #D1C300;
    --color-resplandor: #ffef15;
    /*Color Secundario*/

    /*Colores de Fondo - Modo Oscuro*/
    --color-background: #101011;
    --color-surface: #0a0b14;
    --color-surface-hover: #1c1f36;
    /*Colores de fondo - Modo Claro*/

    /*Colores de Texto*/
    --color-text-main: #ffffff;
    --color-text-muted: #FFFFFF;
    --color-text-hover: #ffef15;
    /*Color de Linea*/
    --color-linea: #303030;

}



::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-background);
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
    border: 2px solid var(--color-background);
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary)
}

/*Animacion del loop de logos de herramientas*/

@keyframes infinite-scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.animate-infinite-scroll {
    animation: infinite-scroll 60s linear infinite;
    /* El ancho debe ser suficiente para contener los elementos duplicados */
    width: max-content;
}